body {
    font-family: Arial, sans-serif; 
    background-color: #f0f8ff;     
    color: #333;                   
    text-align: center;            
    padding: 20px;             
}

h1 {
    color: #005a9c; 
}
p{
    text-align: center;
    text-overflow: ellipsis;
}

img {
    margin-top: 50px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 250px;
    
}
body {
  background-image: url("https://pngmagic.com/webp_images/aesthetic-pastel-light-blue-background-with-subtle-gradients_L0H.webp");
  align-items: center; 
}

button {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;       
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

/* makes the button slightly darker when you hover over it */
button:hover {
    background-color: #0056b3;
}